
wineShow {
  visibility: visible;
  }

.wineHidden {
  visibility: hidden;
  display: none;
}

.header{
background-color: #55552b;
color: #b2b266;
margin: none;
text-align: center;
padding: 1%;
}

.backgroundColor{
  background-color: #c3c388;
}

.regionContainer{
  display: flex;
  flex-direction: row;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color:#55552b;
}

.flip-card-back {
  background-color: #888844;
  color:#444422;
  transform: rotateY(180deg);
}

ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-container {
display: flex;
background-color: #b2b266;
color: #55552b;
justify-content: space-evenly;
flex-wrap: wrap;
line-height: 80%;
font-size: 14px;
padding: 10px;
margin: 10px;
align-items: center;
width: 300px;
}


