.regionShow {
    visibility: visible;
  }
  
  .regionHidden {
    visibility: hidden;
    display: none;
  }

  ul {
    list-style-type: none;
  }

  .zoom:hover{
    transform: scale(1.2); 
}